body{
	background-color: black;
	color: white;
}

.video{
	height: 800px;
}

video{
  position: absolute;
  top:0;
  left:0;
  object-fit: fill;
  width: 100%;
  height: 970px;
  z-index: -1;
}

.titre{
	font-size: 2rem;
	font-family: 'Oswald', sans-serif;
}

nav{
	background-color: black;
	color: white;
	font-size: 15px;

}

nav li{
	color: white;

}

nav li:hover{
	text-decoration: line-through;
	color: white;

}

.active{
 	text-decoration: line-through;
}

article{
	
	font-size: 17px;
	font-family: 'Oswald', sans-serif;
}

article i{
	-webkit-text-stroke: 1px background-color;
}


article h2{
	border: 1px solid white;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 2px;

}

h1:hover span {
	opacity: 0;
	transition: 2s;
}

h1:hover:after {
	opacity: 1;
	transition: 2s;
}

h1{
	text-align: center;
	position: relative;
	top: 20rem;
	font-family: 'Oswald', sans-serif;
	font-size: 6rem;
	text-shadow: -6px 6px 0.2em rgba(255,255,255,.4), 6px -6px 0.4em rgba(255,255,255,.4);

}

h1:after {
	content:" Cité des Sciences";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
}

a{
	color: inherit;
}

a:hover{
	text-decoration: none;
	color: inherit;
}

.equipe p{
	line-height: 8px;

}

nav button{
	background: #000;
	border: 3px solid #fff;
	color: #fff;
	padding: 10px 20px;
	margin: 30px auto;
	font-size: 1rem;
	display: block;
	outline: none;
}
	
.text{
/*	background: linear-gradient( to top,#363739,#9aa0ab,#fff );
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;*/
	color: white;
}

.modal-body ul li, .modal-body p{
	color: black;
	opacity: 1;
}

h3, h4{
	color: black;
}

.modal-body .image1{
	height: 30vh;
	width: 40vw;
	margin: 0 auto;

}

.modal-body img{
	height: 45vh;
	width: 40vw;
	margin: 0 auto;

}
.modal-body .image3{
	height: 50vh;
	width: 40vw;
	margin: 0 auto;

}

.presentation2{
	background-color: #F0AD4E;
	margin-bottom: 10rem;
	color: black;
	font-family: 'Oswald', sans-serif;
	line-height: 3rem;
	font-size: 20px;

}

.presentation{
	margin-bottom: 100px;
}

.presentation article p{
	font-family: 'Poiret One', cursive;
	color: #F0AD4E;
}


.equipe{
	margin-bottom: 250px;
}

.equipe h3{
	color: white;
	 font-family: 'Poiret One', cursive;
	 font-size: 50px;
}

.equipe p{
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
}

.interview{
	background-color: #F0AD4E;
	height: 18em;
}

.interview img{
	position: relative;
	bottom: 40px;
	left: 120px;
}

.quest{
	width: 20rem;
	height: 3rem;
	border: 3px solid;
	color: black;
	position: relative;
	top: 60px;
	left: 50px;
	text-align: center;
	padding-top: 7px;
	border-bottom-right-radius:20% 20%;

}

.rep{

	border: 3px solid;
	color: black;
	position: relative;
	right: 60px;
	float: right;
	text-align: center;
	padding: 12px;
	border-bottom-left-radius:20% 20%;
}

footer i:hover{
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.3);
}

footer i {
	padding: 1rem;
}